.result-entry{
  margin-top: 15px;

  &__title{
    display: block;
  }

  &__author{
    float: right;
  }

  &:after{
    padding: 0px 15px;
    display: inline;
    border-bottom: 1px solid #eaebec;
    width: 100%;
  }
}

.result-entry-tags{
  margin-top: 5px;

  &__tag{
    margin-right: 5px;
    margin-bottom: 5px;
    user-select: none;
    cursor: pointer;
    float: left;
  }
}

